// FOR ALL
$basePaddingTopXs: 15px;
$basePaddingTopSm: 28px;
$basePadding: 25px;
$marginBetweenSectionMd: 50px;
$marginBetweenSectionXs: 15px;
$marginInsideSectionMd: 35px;
$marginInsideSectionXs: 10px;
$mainFontColor: #000;
$mainFontColorComplement: #fff;
$mainFontColor2: #ffac00;
$additionalFontColor: grey;
$additionalFontColor2: lightgrey;
$smallFontSizeMd: 10px;
$smallFontSizeSm: 9px;
$bigFontSizeXs: 23px;
$bigFontSizeSm: 33px;
$bigFontSizeMd: 45px;
$mediumFontSize: 14px;
$mediumFontSizeSm: 12px;
$mediumFontSizeXs: 10px;
$letterSpaceStandart: 1.3px;
$radiusOfPhoneCallingIconSvg: 10px;
// переопределили warning в бутсрапе на свой оранжевый!!
$warning: $mainFontColor2;

// Second section
$svgSizeXs: 34px;
$svgSizeSm: 54px;
$svgSizeMd: 70px;
$cardWidthMaxXs: 22rem;
$cardWidthMaxSm: 20rem;
$cardWidthMaxLg: 18rem;
$cardWidthMin: 16rem;
$cardWidthXs: 150px;
$cardWidthSm: 199px;
$cardWidthMd: 250px;
// review section
$videoWidth: 540px;
$videoHeight: 315px;
// production photo
$imgWidth: 800px;
$imgHeight: 533px;
//contact
$mapWidth: 845px;
$mapHeight: 650px;

$buttonUpSize: 18px;


